{% if customer %}
                  <button
                    class="wishlist-button"
                    data-product-id="{{ product.id }}"
                    data-customer-id="{{ customer.id }}">
                    <span>Add to Wishlist </span>
                             <span class="svg-wrapper">
                                   {{- 'icon-heart.svg' | inline_asset_content -}}
                                                         </span>
                  </button>
                {% else %}
                  <a href="/account/login" class="wishlist-button">
                     <span>Add to Wishlist </span>
                                                 <span class="svg-wrapper">
                                                       {{- 'icon-heart.svg' | inline_asset_content -}}
                                                                             </span>
                  </a>
                {% endif %}