{% if link != blank %}
    {% liquid
        assign link_handle = link.title | handleize | downcase
    %}
    <div class="category-images">
        {% for block in section.blocks %}
            {% if block.type == 'category_image' and block.settings.category_menu_trigger == link_handle %}
                {% render 'category-image', block: block, link:link %}
            {% endif %}
        {% endfor %}
    </div>


{% endif %}


