{%- style -%}
  .coming-soon-page {
      width: 100%;
      height: 70vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background: linear-gradient(130deg, rgba(255, 193, 7, 0.49), rgba(255, 255, 255, 0));
  }
  .coming-soon-page .top-heading {
      font-size: 80px;
      letter-spacing: 5px;
      font-weight: bold;
      margin-block: 0px;
  }
{%- endstyle -%}
<div class="coming-soon-page">
  <h1 class="top-heading">COMING SOON</h1>
  <p>We're working hard to give you best exprerience!</p>
</div>
