{%- liquid
  assign padding = section.settings.padding
  assign font-size = section.settings['font-size']
-%}

{%- style -%}
       @media screen and (min-width: 1200px) {
          .place-wrapper .headingtext {
             font-size: {{ font-size}}px;
             margin-bottom: -50px;
          }
             .place-wrapper .details {
               max-width: 400px;
             }
             .place-wrapper .wrapper::before {
               height: 70%;
             }
       }
       @media screen and (min-width: 992px) and (max-width: 1200px) {
          .place-wrapper .headingtext {
             font-size: 85px;
             margin-bottom: -40px;
          }
       }
        @media screen and (min-width: 768px) and (max-width: 1200px) {
          .place-wrapper .details {
                max-width : 320px;
          }
          .place-wrapper .wrapper::before {
               height: 77%;
          }
        }
        @media screen and (min-width: 768px) and (max-width: 992px) {
          .place-wrapper .headingtext {
             font-size: 65px;
             margin-bottom: -35px;
          }
       }

       @media screen and (max-width: 768px)  {
          .place-wrapper .details {
                font-size: 15px;
                font-weight: 400 !important;
                letter-spacing: 0.6px;
                line-height: 27px !important;;
                color: rgb(25, 25, 25);
            }
         h2.collage-wrapper-title {
            font-size: 24px;
            margin-bottom: 20px;
        }
         .footer-dropdown strong {
              font-size: 16px;
          }
         .sliding-collection-wrapper .carousel-button {
           display: none;
         }
         .sliding-collection-wrapper {
           margin-bottom: 28px;
           padding: 0 17px;
         }
         .place-wrapper .wrapper .container .image-slider  .slick-list  {
           max-height: 30dvh;
         }
         .place-wrapper .wrapper .container .image-slider  .slick-list .slick-track {
           gap: 0;
         }
         .place-wrapper .wrapper .container .image-slider  .slick-dots {
           bottom: 8px;
         }
         .place-wrapper .wrapper .container .image-slider  .slick-dots li button {
           font-size: 20px;
           line-height: normal;
           color: #fff;
           padding: 0;
         }
         .place-wrapper .wrapper .container .image-slider  .slick-dots li {
           margin: 0;
           padding: 5px;
           width: auto;
           height: auto;
         }
         .place-wrapper .wrapper .container .image-slider  .slick-dots li button:before {
           display: none;
         }
         .place-wrapper .wrapper .container .image-slider  .slick-dots li button {
            visibility: hidden;
         }
         .place-wrapper .wrapper .container .image-slider  .slick-dots li.slick-active button {
           visibility: visible;
         }
       .place-wrapper .wrapper .container .image-slider  .slick-dots li:after {
          content: "";
        display: block;
        position: absolute;
        bottom: 0;
        width: 100%;
        border-bottom: 3px solid #fff;
    }
  .place-wrapper .wrapper .container .image-slider  .slick-dots li.slick-active:after {
    opacity: 1;
  }
          .place-wrapper .wrapper .container .image-slider  .slick-dots li.slick-active~li:after {
    opacity: .3;
  }
         .place-wrapper .wrapper {
            background: #f7f5ef;
         }
         .place-wrapper .wrapper .container {
           padding-top: 30px;
           padding-bottom: 30px;
         }
         .place-wrapper .headingtext {
           margin-bottom: 25px;
           font-size: 25px;
           position: absolute;
          margin: auto;
          left: 50%;
          transform: translate(-50%, -3%);
          top: 3%;
          width: 100%;
         }
         .place-wrapper {
            position:relative;
            padding-top: 29px;
          }
         .place-wrapper .wrapper .image-slider .image img {
          max-height: 30dvh;
          object-position: center center;
          object-fit: cover;
     }
       }


             .place-wrapper .headingtext {
                /* background-image: url(https://cdn.shopify.com/s/files/1/0919/7699/1033/files/gradiant-background-vector.png?v=1739786892);
                background-position: 45% 35%;
                max-width: 100%;
                webkit-background-clip: text !important;
                background-clip: text !important;
                -webkit-text-fill-color: transparent;
                text-fill-color: transparent; */
               color: #000;
                font-weight: bold;
                text-align: center;
                margin-top: 0;
                padding-inline: 50px;
                max-width: 1600px;
               margin-inline: auto;
              }


              .place-wrapper .wrapper .image-slider .image img {
                width: 100%;
                height: 100%;
              }
             .place-wrapper .details {
                font-weight: 600;
                line-height: normal;
               margin-bottom: 0;
              }

             .place-wrapper .wrapper .container {
               max-width: 1600px;
               margin: auto;
               position: relative;
               padding-inline: 15px;
               height: 100%;
             }
   @media screen and (min-width: 768px)  {
          .place-wrapper .wrapper .container {
              padding-inline: 30px;
          }
           .place-wrapper .details {
                font-size: 24px;
              }
         .place-wrapper .wrapper .image-slider {
                width: 100%;
                position: relative;
                height: 100%;
          }
            .place-wrapper .wrapper .image-slider .image {
               width: 24%;
              position: absolute;
              height: 42%;
             }
          .place-wrapper .wrapper .image-slider .first-image-container {
            top: 24%;
            left: 66%;
            transform: translate(-66%, -24%);
          }
          .place-wrapper .wrapper .image-slider .second-image-container {
            top: 100%;
            left: 66%;
            transform: translate(-66%, -100%);
          }
          .place-wrapper .wrapper .image-slider .third-image-container {
             top: 0%;
            left: 100%;
            transform: translate(-100%, -0%);
          }
          .place-wrapper .wrapper .image-slider .fourth-image-container {
            top: 76%;
            left: 100%;
            transform: translate(-100%, -76%);
            height: 42%;
          }
          .place-wrapper .details {
                position: absolute;
                left: 50px;
                top: 35%;
                transform: translate(-0%, -50%);
                z-index: 1;
              }
          .place-wrapper .wrapper {
              position: relative;
              height: 77dvw;
              max-height: 1000px;
            }
          .place-wrapper .wrapper::before {
              content: '';
               width: 100%;
               background: #f7f5ef;
               position: absolute;
               top: 0;
               z-index: -1;
               left: 0;
             }
           .place-wrapper .wrapper .container {
           padding-top: 60px;
         }
        }
  @media screen and (min-width: 992px)  {
          .place-wrapper .wrapper .container {
              padding-inline: {{ padding}}px;
          }
      }
{%- endstyle -%}
<div class="place-wrapper">
  {% render 'heading-text' %}
</div>

{% schema %}
{
  "name": "From a place",
  "settings": [
     {
       "type": "range",
       "id": "padding",
       "label": "Wrapper Padding Inline",
       "default": 50,
       "min": 50,
       "max": 100,
       "step": 10,
       "unit": "px"
        },
    {
       "type": "range",
       "id": "font-size",
       "label": "Heading Font Size",
       "default": 50,
       "min": 50,
       "max": 200,
       "step": 10,
       "unit": "px"
        },

      {
          "type": "text",
          "id": "headingtext",
          "default": "Test",
          "label": "Heading Text"
        },
 {
          "type": "text",
          "id": "details",
          "default": "Test",
          "label": "Detail Text"
        },

  ],
  "presets": [
    {
      "name": "From a place",

    }
  ]
}
{% endschema %}
