<div class="service-cstm-main">

<div class="porto-wrap-container container" style="padding-top: 20px;">
  <div class="row">
    <div class="mb-3 mb-lg-0 vc_column_container col-md-12 col-lg-5">
      <div class="wpb_wrapper vc_column-inner">
        <div class="porto-ultimate-content-box-container ">
          <div class="porto-ultimate-content-box banner1 porto-lazyload lazy-load-loaded" style="background-size: cover; background-repeat: no-repeat; background-position: center center; background-color: rgba(0, 0, 0, 0); box-shadow: none; background-image: url(https://cdn.shopify.com/s/files/1/0275/5012/2029/files/shop29_home_banner1.jpg);">
            <h2 style="font-size: 34px;line-height: 1.2;font-weight:700" class="vc_custom_heading mb-0 align-right text-uppercase">Black</h2>
            <h3 style="font-size: 28px;line-height: 1.2;font-weight:700" class="vc_custom_heading mb-3 align-right">Armchairs</h3>
            <h4 style="font-size: 15px;line-height: 1.2;font-weight:600" class="vc_custom_heading mb-4 align-right text-uppercase heading-secondary">STARTING FROM $399</h4>
            <div class="vc_btn3-container  mb-0 text-color-primary vc_btn3-right">
              <button class="vc_btn3 vc_btn3-shape-default vc_btn3-icon-right btn btn-borders btn-xs btn-default">SHOP NOW <i class="icon-right"></i></button>
            </div>
          </div>
        </div>
        <div class="vc_row wpb_row vc_inner row">
          <div class="mb-3 mb-md-0 vc_column_container porto-column vc_col-sm-2/5">
            <div class="wpb_wrapper vc_column-inner">
              <div class="porto-ultimate-content-box-container h-100">
                <div class="porto-ultimate-content-box banner2 porto-lazyload lazy-load-loaded" style="background-size: cover; background-repeat: no-repeat; background-position: center center; background-color: rgba(0, 0, 0, 0); box-shadow: none; min-height: 315px; background-image: url(https://cdn.shopify.com/s/files/1/0275/5012/2029/files/shop29_home_banner2.jpg);" data-hover_box_shadow="0px 0px 20px -1px rgba(0,0,0,0.06)">
                  <h5 style="font-size: 12px;color: rgba(255,255,255,0.4);line-height: 1.5;text-align: center;font-weight:500" class="vc_custom_heading mb-0 ls-25em text-uppercase">CHECK NEW ARRIVALS</h5>
                  <h3 style="font-size: 25px;line-height: 1.2;text-align: center;font-weight:700" class="vc_custom_heading text-uppercase heading-light">COOL LAMPS</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="vc_column_container porto-column vc_col-sm-3/5">
            <div class="wpb_wrapper vc_column-inner">
              <div class="porto-ultimate-content-box-container h-100">
                <div class="porto-ultimate-content-box banner3 has-content-pos justify-content-end porto-lazyload lazy-load-loaded" style="background-size: cover; background-repeat: no-repeat; background-position: center center; background-color: rgba(0, 0, 0, 0); box-shadow: none; min-height: 315px; background-image: url(https://cdn.shopify.com/s/files/1/0275/5012/2029/files/shop29_home_banner3.jpg);">
                  <h6 style="color: rgba(255,255,255,0.4);text-align: center;font-weight:500" class="vc_custom_heading ls-25em mb-0 text-uppercase">exclusive new collection</h6>
                  <h3 style="font-size: 28px;line-height: 1.2;text-align: center;font-weight:700" class="vc_custom_heading mb-0 text-uppercase heading-light">Luxurious Jacuzzi</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="vc_column_container col-md-12 col-lg-7">
      <div class="wpb_wrapper vc_column-inner" style="height:100%;">
        <div class="porto-ultimate-content-box-container h-100 content-align-start">
          <div class="porto-ultimate-content-box banner4 has-content-pos justify-content-center porto-lazyload lazy-load-loaded" style="background-size: cover; background-repeat: no-repeat; background-position: center center; background-color: rgba(0, 0, 0, 0); box-shadow: none; background-image: url(https://cdn.shopify.com/s/files/1/0275/5012/2029/files/shop29_home_banner4.jpg);">
            <h2 style="font-size: 45px;line-height: 1.2;font-weight:700" class="vc_custom_heading m-l-n-lg align-right">WOODEN<br> Black Chair</h2>
            <div style="font-size: 24px;line-height: 1;font-weight:700" class="vc_custom_heading coupon-text background-color-dark m-b-sm align-left text-uppercase heading-light">GO COUPON</div>
            <div style="font-size: 21px;line-height: 1;font-weight:700" class="vc_custom_heading coupon-text-sale m-b-xl align-left text-uppercase heading-dark">
<i>Up To</i><b>$100</b> OFF</div>
            <h4 style="font-size: 20px;line-height: 1.2;font-weight:600" class="vc_custom_heading m-b-lg align-left text-uppercase heading-secondary">STARTING FROM $199</h4>
            <div class="vc_btn3-container  mb-0 text-color-primary vc_btn3-left">
              <button class="vc_btn3 vc_btn3-shape-default vc_btn3-icon-right btn btn-borders btn-lg btn-default">SHOP NOW <i class="icon-right"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>

{%- style -%}
       .service-cstm-main {
          display: flex;
          justify-content: space-around;
          border-bottom: solid 1px #77777724;
          padding: 22px 0;
        }
        h6.porto-sicon-title {
          margin: 0;
        }
  h6.porto-sicon-title + p {
          margin: 8px 0;
          color: #777777;
        }
      .porto-sicon-box {
         display: flex;
         gap: 10px;
         align-items: center;
        }

{%- endstyle -%}  




{% schema %}
  {
    "name": "hero_cstm_block",
        "presets": [
  {
    "name": "hero_cstm_block",

  }
]
  }
{% endschema %}