<style type="text/css">
  .template-404 .title + * {
    margin-top: 1rem;
  }

  @media screen and (min-width: 750px) {
    .template-404 .title + * {
      margin-top: 2rem;
    }
  }
  .page-404 {
        width: 90%;
        max-width: 460px;
        margin: 30px auto auto;
        padding: 20px;
        gap: 5rem;
        background: #fff;
        box-shadow: #63636333 0 2px 8px;
        border-radius: 5px;
  }
  .page-404 .button {
    padding: 10px 15px;
  }
  .page-404 h2  {
    font-weight: 600;
  }
</style>

<div class="template-404 page-404 page-width page-margin center">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 100" width="200" height="100">
    <rect width="200" height="100" rx="15" ry="15" fill="#f8f8f8" stroke="#ccc" stroke-width="2"/>
    <text x="50%" y="40%" font-family="Arial, sans-serif" font-size="24" text-anchor="middle" fill="#333">404</text>
    <text x="50%" y="60%" font-family="Arial, sans-serif" font-size="14" text-anchor="middle" fill="#777">Page Not Found</text>
  </svg>

  <h2>Oops! Page not found...</h2>
  <p>The requested page no longer exists or does not exist, you can return to the home page</p>
  <!-- <h2><a href="/">Go to the home page</a></h2> -->
  <p>
    If you encounter any other problems with the site, please do not hesitate to contact us at
    <a class="email" href="mailto:info@sprinix.com">info@sprinix.com</a>
  </p>
  <a href="{{ routes.all_products_collection_url }}" class="button">
    {{ 'general.continue_shopping' | t }}
  </a>
</div>
