<div class="service-cstm-main">

<div class="wpb_wrapper vc_column-inner">
                <div class="porto-sicon-box style_1 default-icon">
                    <div class="porto-sicon-default">
                        <div class="porto-just-icon-wrapper" style="text-align:center;">
                            <div class="porto-icon none " style="color:#333;font-size:35px;display:inline-block;"> 
                              <img src="{{ 'available.png' | asset_url }}" alt="Alt text">
</div>
                        </div>
                    </div>
                    <div class="porto-sicon-header">
                        <h6 class="porto-sicon-title" style="font-weight:700;font-size:14px;line-height:14px;">FREE SHIPPING &amp; RETURN</h6>
                        <p style="font-size:13px;line-height:15px;">Free shipping on all orders over $99.</p>
                    </div>
                </div>
            </div>

            <div class="wpb_wrapper vc_column-inner">
                <div class="porto-sicon-box style_1 default-icon">
                    <div class="porto-sicon-default">
                        <div class="porto-just-icon-wrapper" style="text-align:center;">
                            <div class="porto-icon none " style="color:#333;font-size:35px;display:inline-block;"> 
                              <img src="{{ 'price.png' | asset_url }}" alt="Alt text">
                            </div>
                        </div>
                    </div>
                    <div class="porto-sicon-header">
                        <h6 class="porto-sicon-title" style="font-weight:700;font-size:14px;line-height:14px;">MONEY BACK GUARANTEE</h6>
                        <p style="font-size:13px;line-height:15px;">100% money back guarantee.</p>
                    </div>
                </div>
            </div>


            <div class="wpb_wrapper vc_column-inner">
                <div class="porto-sicon-box style_1 default-icon">
                    <div class="porto-sicon-default">
                        <div class="porto-just-icon-wrapper" style="text-align:center;">
                            <div class="porto-icon none " style="color:#333;font-size:35px;display:inline-block;"> 
                              <img src="{{ 'shipping.png' | asset_url }}" alt="Alt text">
                            </div>
                        </div>
                    </div>
                    <div class="porto-sicon-header">
                        <h6 class="porto-sicon-title" style="font-weight:700;font-size:14px;line-height:14px;">ONLINE SUPPORT 24/7</h6>
                        <p style="font-size:13px;line-height:15px;">Support for buyers available.</p>
                    </div>
                </div>
            </div>

    <div class="wpb_wrapper vc_column-inner">
                <div class="porto-sicon-box style_1 default-icon">
                    <div class="porto-sicon-default">
                        <div class="porto-just-icon-wrapper" style="text-align:center;">
                            <div class="porto-icon none " style="color:#333;font-size:35px;display:inline-block;"> 
                              <img src="{{ 'payment.png' | asset_url }}" alt="Alt text">
                            </div>
                        </div>
                    </div>
                    <div class="porto-sicon-header">
                        <h6 class="porto-sicon-title" style="font-weight:700;font-size:14px;line-height:14px;">SECURE PAYMENT</h6>
                        <p style="font-size:13px;line-height:15px;">Free shipping on all orders over $99.</p>
                    </div>
                </div>
            </div>

</div>

{%- style -%}
       .service-cstm-main {
          display: flex;
          justify-content: space-around;
        }
        h6.porto-sicon-title {
    margin: 0;
}

{%- endstyle -%}  

{% schema %}
{
  "name": "service-cstm-block",
 
     "presets": [
  {
    "name": "service-cstm-block",

  }
]
}
{% endschema %}
