<div class="service-cstm-main">

<div class="wpb_wrapper vc_column-inner">
                <div class="porto-sicon-box style_1 default-icon">
                    <div class="porto-sicon-default">
                        <div class="porto-just-icon-wrapper" style="text-align:center;">
                            <div class="porto-icon none " style="color:#333;font-size:35px;display:inline-block;"> <i class="icon-shipping"></i>
</div>
                        </div>
                    </div>
                    <div class="porto-sicon-header">
                        <h6 class="porto-sicon-title" style="font-weight:700;font-size:14px;line-height:14px;">FREE SHIPPING &amp; RETURN</h6>
                        <p style="font-size:13px;line-height:15px;">Free shipping on all orders over $99.</p>
                    </div>
                </div>
            </div>

            <div class="wpb_wrapper vc_column-inner">
                <div class="porto-sicon-box style_1 default-icon">
                    <div class="porto-sicon-default">
                        <div class="porto-just-icon-wrapper" style="text-align:center;">
                            <div class="porto-icon none " style="color:#333;font-size:35px;display:inline-block;"> <i class="icon-shipping"></i>
</div>
                        </div>
                    </div>
                    <div class="porto-sicon-header">
                        <h6 class="porto-sicon-title" style="font-weight:700;font-size:14px;line-height:14px;">FREE SHIPPING &amp; RETURN</h6>
                        <p style="font-size:13px;line-height:15px;">Free shipping on all orders over $99.</p>
                    </div>
                </div>
            </div>


            <div class="wpb_wrapper vc_column-inner">
                <div class="porto-sicon-box style_1 default-icon">
                    <div class="porto-sicon-default">
                        <div class="porto-just-icon-wrapper" style="text-align:center;">
                            <div class="porto-icon none " style="color:#333;font-size:35px;display:inline-block;"> <i class="icon-shipping"></i>
</div>
                        </div>
                    </div>
                    <div class="porto-sicon-header">
                        <h6 class="porto-sicon-title" style="font-weight:700;font-size:14px;line-height:14px;">FREE SHIPPING &amp; RETURN</h6>
                        <p style="font-size:13px;line-height:15px;">Free shipping on all orders over $99.</p>
                    </div>
                </div>
            </div>

</div>

{% schema %}
{
  "name": "service-cstm-block",
 
     "presets": [
  {
    "name": "service-cstm-block",

  }
]
}
{% endschema %}
