{%- style -%}
    .thank-you-page {
           width: 90%;
           max-width: 460px;
           margin: 30px auto auto;
           padding: 20px;
           gap: 5rem;
           background: #fff;
           box-shadow: #63636333 0 2px 8px;
           border-radius: 5px;
           text-align: center;
     }
    .thank-you-page h1 {
       font-size:4em;
       letter-spacing:3px;
       color:#666666 ;
       margin:0;
       margin-bottom:20px;
    }
    .thank-you-page h4 {
      margin: 0;
      font-size: 1.3em;
      margin-bottom: 14px;
      color: #3e3e3e;
      letter-spacing: 1px;
  }
  .thank-you-page p {
      color: #5f5f5f;
      font-size: 15px;
  }
  .thank-you-page .go-home {
    color:#fff;
    background: #666666;
    border:none;
    padding:10px 50px;
    margin:30px 0;
    border-radius:30px;
    text-transform:capitalize;
    margin-top: 20px;
    display: inline-block;
    text-decoration: none;
  }
  .thank-you-page .go-home:hover {
     background: #666666cc;
  }
{%- endstyle -%}
<div class="thank-you-page">
  <h1>Thank you !</h1>
  <h4>Awesome! Your registration is complete.</h4>
  <p>
    While our Customer Success team will reach out to you over email, please whitelist our email domain
    @sprinix-kart.myshopify.com so that you do not miss out on important future correspondence.
  </p>

  <a href="/" class="go-home">Go Back</a>
</div>
