{%- style -%}
  .thank-you-page {
         width: 90%;
         max-width: 460px;
         margin: 30px auto auto;
         padding: 20px;
         gap: 5rem;
         background: #fff;
         box-shadow: #63636333 0 2px 8px;
         border-radius: 5px;
   }
{%- endstyle -%}
<div class="thank-you-page">
  <h1>Thank you !</h1>
  <h4>Awesome! Your registration is complete.</h4>
  <p>
    While our Customer Success team will reach out to you over email, please whitelist our email domain @hitgoalz.com so
    that you do not miss out on important future correspondence.
  </p>

  <button class="button"><a href="/">Go Back</a></button>
</div>
