<h1>Thank you !</h1>
<h4>Awesome! Your registration is complete.</h4>
<p>
  While our Customer Success team will reach out to you over email, please whitelist our email domain @hitgoalz.com so
  that you do not miss out on important future correspondence.
</p>

<button class="go-home">go home</button>
