.artboard {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        .links {
        display:flex;
        flex-direction:column;
        }
        .links a {
            padding: 15px;
            transition: 700ms cubic-bezier(.89, .03, .06, 1.50);
            color: var(--accent);
            text-align: center;
            opacity: 0;
            text-decoration: none;
            transform: scale(0);
        }

        .links a:hover {
            color: var(--primary);
            transition-timing-function: ease-in-out !important;
            transition-delay: 1ms !important;
        }

        .button:hover .links a {
            transform: scale(1);
            opacity: 1;
        }

        .overlay {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 350px;
            height: 80px;
            position: absolute;
            top: 0;
            left: 0;
            background: var(--secondary);
            transition: 1s cubic-bezier(.89, .03, .06, 1.50);
        }

        .overlay a {
            transform: scale(1);
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 1;
            margin: auto;
            color: var(--accent) !important;
            font-size: 20px;
        }

        .button:hover .overlay {
            transform: translateY(-500px);
        }
        .fa-twitter:hover {
            color: #55acee;
            transform: scale(1.4);
            transition: 350ms ease-in-out;
        }

        .fa-youtube:hover {
            color: #cd201f;
            transform: scale(1.4);
            transition: 350ms ease-in-out;
        }

        .fa-instagram:hover {
            color: #e4405f;
            transform: scale(1.4);
            transition: 350ms ease-in-out;
        }

        .fa-codepen:hover {
            color: #FFDD40;
            transform: scale(1.4);
            transition: 350ms ease-in-out;
        }

        @keyframes beat {
            to {
                transform: scale(1.4);
            }
        }

        .beat {
            color: red;
            animation: beat .30s infinite alternate;
        }


  .footer-block__details-content .list-social {
    display: flex;
    padding-left: 0;
  }

@media only screen and (max-width: 992px) {
  .top-social-links {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  .top-social-links {
  position: fixed;
    top: 50%;
    transform: translate(0, -50%);
    left: 0;
  flex-wrap: wrap;
  justify-content: flex-end;
  z-index: 999;
}

.top-social-links .list-social__item a {
   width: 44px;
   background: #f7f5ef;
}
.top-social-links .list-social__item a {
  position: relative;
}
  .top-social-links .list-social__item a:hover svg.icon.icon-facebook {
    color: #0866ff;
}
  .top-social-links .list-social__item a:hover  svg.icon.icon-instagram {
    color: #F56040;
}
.top-social-links .list-social__item a:hover  svg.icon.icon-youtube {
    color: #FF0000;
}
.top-social-links .list-social__item a:hover  svg.icon.icon-twitter {
    color: #1DA1F2;
}
.top-social-links .list-social__item a:hover svg.icon.icon-pinterest {
    color: #E60023;
}
 .top-social-links .list-social__item a:hover {
        width: auto;
        transition: all 0.6s ease-in-out;
        padding-left: 50px;
        display: flex;
        gap: 6px;
        background: #000000;
        color: #fff;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
 } 
  .top-social-links .list-social__item a:hover .visually-hidden {
    position: unset !important;
    width: auto;
    height: auto;
    overflow: auto;
  } 
  
}

.list-social__item .icon {
  height: 2.2rem;
  width: 2.2rem;
}

.list-social__link {
  align-items: center;
  display: flex;
  padding: 1.1rem;
  color: rgb(var(--color-foreground));
}

.utility-bar .list-social__link {
  padding: 0 0.8rem;
  height: 3.8rem;
}

.list-social__link:hover .icon {
  transform: scale(1.07);
}
