
  .footer-block__details-content .list-social {
    display: flex;
    padding-left: 0;
  }

@media only screen and (min-width: 768px) {
  .list-social.footer__list-socials {
  position: fixed;
    top: 50%;
    background: #f7f5ef;
    transform: translate(0, -50%);
    left: 0;
  flex-wrap: wrap;
  justify-content: flex-end;
  z-index: 999;
}

.list-social.footer__list-socials .list-social__item {
   width: 44px;
}
.list-social.footer__list-socials .list-social__item a {
  position: relative;
}
 .list-social.footer__list-socials .list-social__item a:hover {
    transition: all 2s ease-in-out;
    padding-left: 100px;
 } 
  
}

.list-social__item .icon {
  height: 2.2rem;
  width: 2.2rem;
}

.list-social__link {
  align-items: center;
  display: flex;
  padding: 1.1rem;
  color: rgb(var(--color-foreground));
}

.utility-bar .list-social__link {
  padding: 0 0.8rem;
  height: 3.8rem;
}

.list-social__link:hover .icon {
  transform: scale(1.07);
}
